@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="jumbotron">
    <h1>.NET 💜 Azure From BillyClassTime </h1>
    <h2>@ViewData["AppTitle"]</h2>
    <p class="lead">Provision an Azure Storage Table Challange </p>
</div>
<div class="jumbotron">
    <h3>
        <p>Checking Azure Storage Account Table</p>
        <p>ID:@ViewData["IdHistory"]</p>
    </h3>
</div>